footer {
  background: $light-grey;
  @include center;
   justify-content: space-between;

  padding: 3rem 11%;
  ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;
    a {
      color: $blue;
      &:hover {
        color: $grey;
      }
    }
  }
  p {
    font-size: 0.8rem;
    color: $grey;
  }
}
