article {
  background: $white;
  display: flex;
  flex-direction: row-reverse;
  &:nth-of-type(even) {
    flex-direction: row;
  }
  img {
    width: 50%;
    object-fit: cover;
  }
  div {
    @include center;
    width: 50%;
    justify-content: center;
    span {
      width: 60%;
      line-height: 2rem;
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}
